@model MyPortfolyo.Dal.Entities.Message

<section id="contact" class="s-contact target-section">
    <div class="overlay"></div>
    <div class="row narrow section-intro">
        <div class="col-full">
            <h3>İletişim</h3>
            <h1>Benimle iletişime geçin</h1>
            <p class="lead">En kısa sürede tarafınıza dönüş yapılacaktır</p>
        </div>
    </div>
    <div class="row contact__main">
        <div class="col-eight tab-full contact__form">
            <form name="contactForm" id="contactForm" method="post" action="">
                <fieldset>
                    <div class="form-field">
                        <input asp-for="NameSurname" type="text" id="contactName" placeholder="Ad - Soyad" value="" minlength="5" required="" aria-required="true" class="full-width">
                    </div>
                    <div class="form-field">
                        <input asp-for="Email" type="email" id="contactEmail" placeholder="E-Posta" value="" required="" aria-required="true" class="full-width">
                    </div>
                    <div class="form-field">
                        <input asp-for="Subject" type="text" id="contactSubject" placeholder="Konu" value="" class="full-width">
                    </div>
                    <div class="form-field">
                        <textarea asp-for="MessageDetail" id="contactMessage" placeholder="Mesaj" rows="4" cols="50" required="" aria-required="true" class="full-width"></textarea>
                    </div>
                    <div class="form-field">
                        <button class="full-width btn--primary">Submit</button>
                        <div class="submit-loader">
                            <div class="text-loader">Gönderiliyor...</div>
                            <div class="s-loader">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>

        @await Component.InvokeAsync("_AdressComponentPartial")
    </div>
</section> 